<div class="profile_card compact collapse show">
  <a href="{{ user.twitch }}" target="_blank" class="float-left">
      <img class="avatar" src="{{ render(controller('App\\Controller\\UserListController::avatarSrc', {user: user})) }}" />
  </a>
  <div class="name_container">
    <div class="name" style="color: {{ user.color }}">{{ user.displayName }}</div>
    {% if user.title %}
      <div class="title">{{ user.title }}</div>
    {% endif %}
  </div>
  <div style="clear:both"></div>
</div>

<div id="profile_card_{{ user.id }}" class="profile_card full" style="display: none">
  <a href="{{ user.twitch }}" target="_blank">
    <img class="avatar" src="{{ render(controller('App\\Controller\\UserListController::avatarSrc', {user: user})) }}" />
  </a>
  <div class="name_container">
    <div class="name" style="color: {{ user.color }}">{{ user.displayName }}</div>
    {% if user.title %}
      <div class="title">{{ user.title }}</div>
    {% endif %}
  </div>
  <div style="clear:both"></div>

  <div class="about">
    {{ user.about }}
  </div>

  <div class="socials">
    {% if user.twitch %}
      <a href="{{ user.twitch }}" target="_blank">
        <i class="fab fa-twitch"></i>
      </a>
    {% endif %}
    {% if user.youtube %}
      <a href="{{ user.youtube }}" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    {% endif %}
    {% if user.twitter %}
      <a href="{{ user.twitter }}" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    {% endif %}
    {% if user.instagram %}
      <a href="{{ user.instagram }}" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    {% endif %}
  </div>
</div>
