{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% form_theme form _self %}

{% block _user_profile_twitch_label %}
    <i class="fab fa-twitch"></i>
    {{ form_label(form) }}
{% endblock %}

{% block _user_profile_youtube_label %}
    <i class="fab fa-youtube"></i>
    {{ form_label(form) }}
{% endblock %}

{% block _user_profile_twitter_label %}
    <i class="fab fa-twitter"></i>
    {{ form_label(form) }}
{% endblock %}

{% block _user_profile_instagram_label %}
    <i class="fab fa-instagram"></i>
    {{ form_label(form) }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('profile/_form.html.twig') }}
    </div>
{% endblock %}
